
<div class='panel panel-primary'>
      <div class='panel-body'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th class='col-sm-1 text-left'>Ticker</th>
              <th class='col-sm-5 text-left'>Name</th>
              <th class='col-sm-2 text-center'>Enabled</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click='toggle_stock(stock)' ng-repeat='stock in stocks'>
              <th class='col-sm-1 text-left'>{{stock.symbol | uppercase}}</th>
              <th class='col-sm-5 text-left'>{{stock.name}}</th>
              <th class='col-sm-2 text-center'>{{stock.enable | uppercase}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>