
<div class='panel panel-primary'>
      <div class='panel-body'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th class='col-sm-1 text-left'>User Name</th>
              <th class='col-sm-5 text-left'>Net Worth</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-click='' ng-repeat=''>
              <th class='col-sm-1 text-left'>{{}}</th>
              <th class='col-sm-5 text-left'>{{}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>