
    <div class='panel panel-primary'>
      <div class='panel-heading'>Search for Stocks:</div>
      <div class='panel-body'>
        <form>
          <div class='form-group'>
            <div class='col-sm-12'>
              Stock: <input ng-model='stock_symbol' ng-init='searchStocks()' ng-model-options='{ debounce: { default: 250, change: 1000 } }' ng-change='searchStocks()' type='text' class='form-control' name='stock_search'>
			  Sector: <select ng-model="selectedSector" ng-change="sectorchange(selectedSector); searchStocks();" ng-options="sector.sector as sector.sector for sector in sectors"><option value="">All</option></select>
			  Industry: <select ng-model="selectedIndustry" ng-change='searchStocks();' ng-options="industry.industry as industry.industry for industry in industrys"> <option value="">All</option> </select>
            </div>
            
          </div>
        </form>
      </div>
    </div>

