
    <div class='panel panel-primary'>
      <div class='panel-heading'>Search for Stocks:</div>
      <div class='panel-body'>
        <form>
          <div class='form-group'>
            <div class='col-sm-12'>
              <input ng-model='stock_symbol' ng-init='searchStocks()' ng-model-options='{ debounce: { default: 250, change: 1000 } }' ng-change='searchStocks()' type='text' class='form-control' name='stock_search'>
            </div>
            
          </div>
        </form>
      </div>
    </div>

