
<div class='panel panel-primary'>
  <div class='panel-heading'>Your Information:</div>
  <div class='panel-body'>
    <table class='table'>
      <tbody>
        <tr>
          <th class='col-sm-2 text-left'>Username: </th>
          <th class='col-sm-4 text-left'>{{username}}</th>
        </tr>  
        <tr>
          <th class='col-sm-2 text-left'>Email: </th>
          <th class='col-sm-4 text-left'>{{email}}</th>
        </tr>  
        <tr>
          <th class='col-sm-2 text-left'>Balance: </th>
          <th class='col-sm-4 text-left'>{{balance}}</th>
        </tr>  
      </tbody>
    </table>
  </div>
</div>